/***** Global Styles *****/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-image: url('../images/congruent_outline.png');
}

.header {
  height: 150px;
  text-align: right;
  margin-top: -40px;
  /*background-image: url(https://download.unsplash.com/photo-1428954376791-d9ae785dfb2d);*/
  background-image: url(https://unsplash.imgix.net/photo-1429198739803-7db875882052?dpr=2&fit=crop&fm=jpg&h=1575&q=75&w=1050);
}

h1 {
  color: lavender;
  font-size: 2.25em;
  display: inline-block;
  margin-top: 100px;
  margin-right: 20px;
}

h2 {
  padding-top: 20px;
  margin-bottom: 0px;
}

/***** Index Styles *****/
.article {
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.article-header {
  height: 60px;
}

.article-header h3 {
  padding: 20px 10px 20px;
  color: #777;
}

.article-header h3 a {
  color: #777;
}

.article-header h3.light a {
  color: whitesmoke;
}

.article-excerpt, .article-body {
  padding: 6px 12px 12px;
}

#new-button {
  font-size: 1.5em;
  color: #444;
  background-color: cadetblue;
  padding: 8px 24px;
  border-radius: 4px;
}

/***** New Article Styles *****/
.main-content-new {
  padding: 0px 20px 20px;
  background-color: whitesmoke;
}

.margin-top {
  margin-top: 24px;
}

input, textarea {
  margin-bottom: 8px;
}

.wide {
  width: 60%;
}

label.left {
  display: inline-block;
  width: 12.5%;
  vertical-align: top;
}

.margin-left {
  margin-left: 12.5%;
}

/***** One Article Styles *****/
.article-header.show {
  margin-top: 20px;
}

.article-header.show h3 {
  display: inline-block;
  position: relative;
  float: left;
  top: -16px;
}

.article-header.show h3.light {
  color: whitesmoke;
}

.article-header.show h3 a {
  color: gray;
  position: relative;
  left: 850px;
}

/***** Update Article Styles *****/
input[value='Delete Article'] {
  background-color: red;
  margin-top: 10px;
}







//
