extends ../layout

block content
    
  .header
    h1 The Zine
    
  .main-content
    for val in theArticles
      style.  
        .article-header { background-image: url(https://download.unsplash.com/photo-1432836431433-925d3cc0a5cd); }
        
      .article
        .article-header
          if val.bgValue === null
            h3
              a(href='/zine/' + val._id + '/article') #{val.title}
          else
            h3.light 
              a(href='/zine/' + val._id + '/article') #{val.title}
        .article-excerpt
          p #{val.excerpt}
        
      
        
    p
    form(action='/zine/new-article' method='get')
      button(type='sumbit' name='new_article' id='new-button') Add New Article
